.cardSection{
  margin-top: 2%;
  margin-bottom: 3% ;
}
.titles{
    margin-top: 5%;
}
.title{
    font-family: 'Poppins', sans-serif;    
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -0.02em;
    color: #EBEEF5;
}
.paragraph{
    margin: 0px;
    font-family: 'Poppins', sans-serif;    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #BEB7FB;
 }

 .baseinput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    margin-top: 2%;
    background-color:rgba(0, 0, 0, 0.1);
    height: 64px;
    width: 344px;
    border: 1px solid #323B54;
    box-sizing: border-box;     
    border-radius: 12px;
  }
  .icon{
   margin-left: 4%;
   height: 19px;
   width: 19px;
   color:#475069;
   
  }
  .input{
   margin-left: 5%;
   background: none;
   border: none;
   font-family: 'Poppins', sans-serif;    
   font-style: normal;
   font-size: 14px;
   line-height: 16px;
   color: #475069;
  font-weight: 400;
  letter-spacing: 0em;
  outline: none;
  }
  .itemBox{
    margin-top: 4%;
    margin-bottom: 2%;
  }
  .items{
    width: 74px;
    height: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #767E94;
  }

  .paginator{
    margin-bottom: 5%;
    color: white;
  }
  .paginator /deep/ .ngx-pagination .current {
    background: #7B6EF6;
    border-radius: 4px;
  }
  .paginator /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
    background:#7B6EF6;
    border-radius: 4px;
  }
  .paginator /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
    background:#7B6EF6;
    border-radius: 4px;
}