<div class="container">
    <div class="position">
        <div class = "boxPortada">
            <img src="https://image.tmdb.org/t/p/w500{{serie?.backdrop_path}}" alt="portada" class="img">
        </div>
        <div class="rectangleTitle">
            <p class="paragrahp">PelisUp! / Series</p>
            <h3 class="title">{{serie?.name}}</h3>
        </div>
    </div>
    <div class="rectangle">
        <div class="boxPoster">
            <img src="https://image.tmdb.org/t/p/w500{{serie?.poster_path}}" alt="poster" class="poster">
        </div>
        <div>
            <h4 class="question">{{serie?.tagline}}</h4>
            <p [ngClass]="!isVerMas ? 'description height':'description'">{{serie?.overview}}</p>
            <div class="verMas">
                <input (click)="verMas()" type="button" class="button" *ngIf="serie.overview.length > 100" value="{{masMenos}}"> 
            </div>
            <div [ngClass]="isVerMas ? 'display': ''">
            <p class="raiting"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star icon" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
              </svg></span>{{serie?.vote_average | number:'1.1' | slice:0:3}}</p>
            <div class="rectangleThree">
                <div class="boxOne">
                    <p class = "type">Tipo</p>
                    <h4 class="text">Serie</h4>
                    <p class = "type">Primera emisión</p>
                    <h4 class="text">{{serie?.first_air_date}}</h4>
                    <p class = "type" >Nº de temporadas</p>
                    <h4 class="text">{{serie?.number_of_seasons}}</h4>
                    <p class = "type" >Duración</p>
                    <h4 class="text">{{serie?.episode_run_time}} min</h4>
                    <p class = "type">Géneros</p>
                    <h4 *ngFor="let item of genres" class="text">{{item.name}}</h4>
                </div>
                <div>
                    <p class = "type">Estado</p>
                    <h4 class="text">{{serie?.status}}</h4>
                    <p class = "type">Ultima emisión</p>
                    <h4 class="text">{{serie?.last_air_date}}</h4>
                    <p class = "type">Nº de episodios</p>
                    <h4 class="text">{{serie?.number_of_episodes}}</h4>
                </div>
            </div>
        </div>
        </div>
    </div>
    

</div>
